.text-editor {
    min-height: 50vh;
    background-color: #fafafa;
 
}

.postContent{
    color: white; 

}

.postContent h2 {
    font-size: 1.5rem;
}
.postContent ul {
    padding-left: 1rem;
}
.postContent li {
    list-style: circle;
}